body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
}
h1{
    text-align: center;
    color: #333;
    margin-bottom: 40px;
}
.boxA, .boxB{
    width: 300px;
    background-color: beige;
    border: 2px solid #0d47a1;
    padding: 15px;
}
.boxA{
    margin: 10px auto;
}
.boxB{
    margin: 40px auto;
}
h3{
    text-align: center;
    color: chartreuse;
}
p{
    text-align: justify;
}
.note{
    text-align: center;
    margin-top: 30px;
    font-style: italic;
    color: #555;
}